@charset "UTF-8";

@use 'variable' as v;
@use 'mixin' as m;

.gallery{
	padding: 80px 0 63px;

	@include m.tab{
		padding: 70px 0 58px;
	}
}

.flex-item{
	display: flex;
}

.row1, .row2, .row3{
	display: flex;
	flex-wrap: nowrap;
	gap: 16px;
	justify-content: space-between;
	align-items: center;

	@include m.tab{
		gap: 8px;
	}
}

.thumbnail{
	width: auto;
	object-fit: cover;
	flex-shrink: 1;
	max-width: 100%;
	margin-bottom: 16px;
	vertical-align: bottom;

	@include m.tab{
		margin-bottom: 8px;
	}
}

.row1 .thumbnail{
	height: 153px;

	@include m.tab{
		height: 90px;
	}
}

.row2 .thumbnail{
	height: 282px;

	@include m.tab{
		height: 120px;
	}
}

.row3 .thumbnail{
	height: 153px;

	@include m.tab{
		height: 90px;
	}
}

.thumbnail{
	&:hover{
		outline: 8px solid rgba(255, 255, 255, 0.6);
		outline-offset: -8px;
		transform: scale(1.05);
		transition: all 0.3s;
	}
}

.modal-content{
	position: fixed;
	top: 50%;
	left: calc(200px + (100% - 200px) / 2);
	transform: translate(-50%, -50%);
	width: 50%;
	z-index: 20;
	outline: 8px solid rgba(255, 255, 255, 0.6);
	outline-offset: -8px;

	@include m.tab{
		top: calc(80px + (100% - 80px) / 2);
		left: 50%;
	}

	img{
		width: 100%;
		aspect-ratio: 788 / 525;
		object-fit: cover;
		object-position: center center;
	}
}

.modal-background {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 200px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;

	@include m.tab{
		width: 100%;
	}
}

.closeModalBtn img{
	width: 35px;
	height: 35px;
	position: absolute;
	top: -53px;
	right: 0;
	z-index: 20;
}